<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/Content/Site.css" />
    <title>@ViewBag.Title – приложение ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/Site.css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav" style="float:left">
                    <li>
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        @Html.ActionLink("О портале", "About", "Home", new { area = "" }, new { @class = "navbar-brand" })
                    </li>

                    <li>@Html.ActionLink("Домашняя страница", "Index", "Home")</li>
                </ul>
                @Html.ActionLink("Тест", "ListTest", "Test", new { area = "" }, new { @class = "btn btn-success btn-lg" })
                @Html.ActionLink("Документация", "Home", "Documentation", new { area = "" }, new { @class = "btn btn-danger btn-lg" })
                @{
                    var user = Request.Cookies["User"];
                    if (user != null)
                    {//в случаи, если пользователь на странице уже авторизован
                     //ссылка на странциу профиля авторизованного пользователя
                        <label style="float:right">
                            @Html.ActionLink("Мой профиль", "Home", "Profile", null, new { @class = "btn btn-primary btn-lg" })
                        </label>
                        <label class="navbar-brand" style="float:right">@user.Value</label>
                    }
                    else
                    {//если пользователь не авторизован
                        @Html.ActionLink("Войти", "Autorization", "LogIn", null, new { @class = "btn btn-primary btn-lg" })
                    }
                }
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <!--Левый div-->
        <div class="col-sm-3">
            @RenderSection("LeftDiv", required: false);
        </div>
        

        <!--Централый div-->
        <div class="col-sm-6">
            @RenderBody()
        </div>

        <!--Правый div-->
        <div class="col-sm-3">
            <!--Баннер для рекламы--> 
            <img width="200" height="400" alt="Advertisement" src="http://rf24.org/nov2/schoolm/images/_index_78f2db9d077f4e7141711e6d9455ab43_4012_.jpg" border="0">
        </div>
    </div>
    <div class="container body-content">
        <hr />
        
        <footer>
            <ul class="menu-top">
                <li >
                    <a href="https://vk.com/goncharivskyy">
                        <picture>
                            <img src="http://posledneeslovo.ru/wp-content/uploads/2012/08/vkontakte.jpg" style="height:30px; width:30px">
                        </picture>
                    </a>
                </li>
                <li>
                    <a href="https://github.com/AdilBikeev?tab=repositories">
                        <picture>
                            <img src="https://cangelozzi.github.io/My-Portfolio/images/GitHub.png" style="height:30px; width:30px">
                        </picture>
                    </a>
                </li>
            </ul>
            <p>&copy; @DateTime.Now.Year – приложение ASP.NET</p>
        </footer>
    </div>
    
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
