@model MySite.Models.Users

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Request.Cookies["User"] != null)//если пользователь авторизован
{
    <h2>Редактирование</h2>
    <hr />
    using (Html.BeginForm("Edit", "Profile", new { user = Model }))
    {
        if (ViewBag.Msg != null)//Если есть сообщение
        {//выводим его
            <b style="color:red">@ViewBag.Msg</b>
            <hr />
        }
        @Html.ValidationSummary()
        <table>
            <tr>
                <td>Имя &nbsp;&nbsp;&nbsp;</td>
                <td>@Html.EditorFor(x => x.Name)</td>
            </tr>
            <tr>
                <td>Фамилия &nbsp;&nbsp;&nbsp;</td>
                <td>@Html.EditorFor(x => x.Surname)</td>
            </tr>
            <tr>
                <td>Дата рождения &nbsp;&nbsp;&nbsp;</td>
                <td>@Html.EditorFor(x => x.DateBirthDay)</td>
            </tr>
            <tr>
                <td>О себе &nbsp;&nbsp;&nbsp;</td>
                <td>@Html.EditorFor(x => x.AboutOneself)</td>
            </tr>
            <tr>
                <td colspan="2">
                    <input class="btn btn-primary btn-lg" style="margin-top:20px" type="submit" value="Сохранить изменения" />
                </td>
            </tr>
        </table>
    }
}
else
{
    <h1>Доступ к данной странице имеют только авторизованные пользователи</h1>
}
